<a href="https://colab.research.google.com/github/JairRea/beginning-bioinformatics/blob/main/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## I changed the Blue heading color to green to signify that I have done the following successfully. -- Jair Rea 1001887311

# **<font color=green>P1.** </font>Rename this notebook **Bioinformatics_Module03.ipynb </font><br>**

# **<font color=green>P2. </font>**```print()```writes to standard output (i.e. prints output to the screen)

####**TASK P2.1:** Print <font color = magenta>hello world</font>

In [1]:
print("hello world")

hello world

# **<font color=green>P3. </font>**```=``` is the ASSIGNMENT operator (assigns values to variables)
####**TASK P3.1:** Ask Gemini, "*Give me 3 examples to help practice understanding the assignment operator.*"

In [2]:
x=5
x

5

## The following below are the 3 examples Gemini has provided me.

In [3]:
# Example 1: Assigning a string to a variable
greeting = "Hello, world!"
print(greeting)

Hello, world!

In [4]:
# Example 2: Assigning the result of an arithmetic operation to a variable
sum_result = 10 + 25
print(sum_result)

35

In [5]:
# Example 3: Assigning a boolean value to a variable
is_active = True
print(is_active)

True

# **<font color=green>P4. </font>** Data types: use ```type()``` to find a variable's "type"
####**TASK P4.1:** Ask Gemini, "*Give me examples of each data type to see how they look as outputs.*"

In [7]:
type(x)

int

## The following below is what Gemini provided me.

In [8]:
# Integer
my_integer = 10
print(my_integer)
print(type(my_integer))

10
<class 'int'>

In [9]:
# Float (floating-point number)
my_float = 3.14
print(my_float)
print(type(my_float))

3.14
<class 'float'>

In [10]:
# String
my_string = "Hello, Python!"
print(my_string)
print(type(my_string))

Hello, Python!
<class 'str'>

In [11]:
# Boolean
my_boolean = False
print(my_boolean)
print(type(my_boolean))

False
<class 'bool'>

In [12]:
# List
my_list = [1, 2, 3, "a", "b"]
print(my_list)
print(type(my_list))

[1, 2, 3, 'a', 'b']
<class 'list'>

In [13]:
# Tuple
my_tuple = (10, 20, 30)
print(my_tuple)
print(type(my_tuple))

(10, 20, 30)
<class 'tuple'>

In [14]:
# Dictionary
my_dictionary = {"name": "Alice", "age": 30}
print(my_dictionary)
print(type(my_dictionary))

{'name': 'Alice', 'age': 30}
<class 'dict'>

In [15]:
# Set
my_set = {1, 2, 3, 3, 2}
print(my_set)
print(type(my_set))

{1, 2, 3}
<class 'set'>

# **<font color=green>P5. </font>** Arithmetic and comparison operators
####**TASK P5.1:**   Complete Rosalind #1 -- COMPLETED

In [16]:
y=2+3
print(y)
x==y

5

True

# **<font color=green>P6. </font>** ```input()``` gets input from the user

TASK P6.1

In [17]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Jair Rea
Hello, Jair Rea

####**TASK P6.1:** Solve Rosalind #1 again, but get user input for the values of a and b rather than modifying the code.

In [18]:
a= int(input("enter a value for a:"))
b= int(input("enter a value for b:"))
c=a**2+b**2
print ("The sq of the hypotenuse is",c)

enter a value for a:892
enter a value for b:987
The sq of the hypotenuse is 1769833

# **<font color=green>P7. </font>** ```list``` type variables (create, replace, append)

####**TASK P7.1**

In [19]:
# Create a list with 3 elements and then print them

my_list = ["Hello", "World", "Charles Darwin"]
print (my_list[1])

World

####**TASK P7.2**

In [20]:
# Substitute the item at index 2 in the list
my_list[2] = "Alfred R. Wallace"
print (my_list)

['Hello', 'World', 'Alfred R. Wallace']

####**TASK P7.3**

In [21]:
# Append an item to the end of the list
my_list.append("Charles Darwin")
print (my_list)

['Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

####**TASK P7.4**. Ask Gemini how to <font color=crimson>```insert```</font> a new item at index 1 in the list

In [24]:
# On line #2 insert an item at index 1 of my_list -- Gemini's advice
my_list.insert(1, "New Item")

print (my_list)

['Hello', 'New Item', 'New Item', 'World', 'Alfred R. Wallace', 'Charles Darwin']

# **<font color=blue>P8. </font>** Slicing lists and strings

####**TASK P8.1** Slice and print only the middle two elements from the list created in P7 (i.e. only <font color=magenta>World</font> and <font color=magenta>Alfred R. Wallace</font>).

In [25]:
print (my_list[2:4])

['New Item', 'World']

####**TASK P8.2**: Print <font color=magenta>Wallace World</font> from **my_string** by slicing

In [26]:
my_string = "HelloWorldCharlesDarwinAlfred R. Walace"
print (my_string[0:5],my_string[5:10])

# in the print command below input the correct index values to complete Task P8.2
print (my_string[ : ],my_string[ : ])

Hello World
HelloWorldCharlesDarwinAlfred R. Walace HelloWorldCharlesDarwinAlfred R. Walace

####**TASK P8.3**  **<font color = orange> Complete Rosalind Problem #2 Strings and Lists</font>**

In [30]:
# Enter code for Rosalind 2 here:
s = "MR48vb3gLHWGx3PYScwtg3lG50tEf2vNGCoralluscZR7sYimo8b9qHHhl1JkopsteinisrpABNAE0WIA1BIdv0WrpzEE3Gc2hLw5kr0yjqej7mu16g2viXAadVgXGGitZADrn9GETPCqpCRpAmao4BIX4LaVvTO6J3r6kdTJDFCL84YRBZNuS80aP6Uc."
a = 33
b = 40
c= 60
d = 68
print(s[a:41], s[c:69])

Corallus kopsteini

####**<font color=crimson>TASK 8.4 Commit to GitHub**</font>*italicized text*

# **<font color=blue>P9. </font>** ```if``` and ```else``` - conditional output

####**TASK P9.1** Create some code that subtracts two numbers if they are different or adds them if they are the same.

In [ ]:
a=5
b=5

if a!=b:
  print(a-b)

else:
  print(a+b)

# **<font color=blue>P10.</font>** ```while``` loops

####**TASK P10.1** Create a while loop that runs 3 times

In [ ]:
#initiate a counter
a = 1

#print "Counting!" while a<=3
while a <= 3:

    print ("Counting!" * a)
    #a += 1

# **<font color=blue>P11.</font>** ```for``` loops – looping over lists

####**TASK P11.1** Create a for loop to print each item in a list

In [ ]:
names = ["Alice","Bob","Charley"]

for name in names:
    print ("Hello", name)

# **<font color=blue>P12.</font>** ```for``` loops over a ```range()```of numbers

####**TASK 12.1** Using for and range(), create code that prints the numbers 0-9

In [ ]:
# Create a variable to define the  number of iterations
iterations = 10

#Print the current item's value each time through the loop
for number in range(iterations):
    print (number)

0
1
2
3
4
5
6
7
8
9

####**TASK 12.2** Modify the code so that it only prints every 3rd number from 9 through 27 (i.e. including 27)

####**TASK 12.3** <font color = orange> **Complete Rosalind Problem #3 Conditions and Loops** </font>

In [ ]:
# Enter code for Rosalind 3 here:

####**<font color=crimson>TASK 12.4 Commit to GitHub**</font>

# **<font color=blue>P13.</font>** File I/O – with open("filename", "mode") as filehandle:

####**TASK P13.1** Use the ```read()``` function to print the <font color = orange>practice dataset from Rosalind #4</font>

In [ ]:
with open("practice.txt","r") as data:

    print(data.read())

    #print(data.readline())

    #print(data.readlines())

####**TASK P13.2** Explore file object functions to read and print practice.txt

#<font color=blue>**P14.**</font> Store the content, close the file, and join ( ) the list

In [ ]:
with open("practice.txt","r") as data:

  list_of_lines=data.readlines()

print (list_of_lines)

####**TASK P14.1** Read practice.txt into a list of lines. Then, after the file is closed, use the join ( ) function to print the contents so it looks like the original input.

In [ ]:
print ("_".join())

#<font color=blue>**P15.**</font> Combining for loops with file objects

####**TASK P15.1** Use a for loop to print each line in practice.txt

In [ ]:
with open("practice.txt","r") as data:

  for line in data:
    print (line)

####**TASK P15.2** <font color=orange>**Complete Rosalind Problem #4 Working with Files**</font>

####**<font color=crimson>TASK 15.4 Commit to GitHub**</font>

#<font color=blue>**P16.**</font> ```for word in line.split()``` – looping over strings and splitting by any delimiter

####**TASK P16.1** Print each word in the ROSALIND Problem #5 Sample Dataset on a separate line.

In [ ]:
with open("practice_5.txt","r") as data:

  line=data.read()

for word in line.split():
    print (word)

We
tried
list
and
we
tried
dicts
also
we
tried
Zen

#<font color=blue>**P17.**</font> Python Dictionaries { }

####**TASK 17.1** Create and print your first dictionary

In [ ]:
sequences = {
    "H.neandertalensis":"ACGTCGCTCTGCTA",
    "H.sapiens":"ACGTCACTCTGCTA"
    }

print (sequences)

{'H.neandertalensis': 'ACGTCGCTCTGCTA', 'H.sapiens': 'ACGTCACTCTGCTA'}
ACGTCACTCTGCTA
>H.neandertalensis
ACGTCGCTCTGCTA
>H.sapiens
ACGTCACTCTGCTA
>P.troglodytes
ACGTCACTCTCCTA
>G.gorilla
ACGTCCTCCTA
>H.erectus
ACGTCACTCTGCTA

{'H.neandertalensis': 'ACGTCGCTCTGCTA',
 'H.sapiens': 'ACGTCACTCTGCTA',
 'P.troglodytes': 'ACGTCACTCTCCTA',
 'G.gorilla': 'ACGTCCTCCTA',
 'H.erectus': 'ACGTCACTCTGCTA'}

#<font color=blue>**P18.**</font> Manipulating and printing dictionaries

####**TASK 18.1** Modify line 8 to create a fasta file of the hominid sequences

In [ ]:
sequences["P.troglodytes"]="ACGTCACTCTCCTA"

sequences.update({"G.gorilla":"ACGTCCTCCTA", "H.erectus":"ACGTCACTCTGCTA"})

print (sequences["H.sapiens"])

for key,value in sequences.items():
     print (key,value)

ACGTCACTCTGCTA
H.neandertalensis ACGTCGCTCTGCTA
H.sapiens ACGTCACTCTGCTA
P.troglodytes ACGTCACTCTCCTA
G.gorilla ACGTCCTCCTA
H.erectus ACGTCACTCTGCTA

####**TASK P18.2** <font color= orange>**Complete Rosalind Problem #5  Dictionaries**</font>

####**<font color=crimson>TASK 18.3 Commit to GitHub**</font>

#<font color=blue>**P19.**</font> ```count()``` – counting things made easy

####**TASK P19.1** <font color= orange>**Complete Rosalind Problem #6  Counting DNA Nucleotides**</font>

####**TASK P19.2** Modify your code for the Rosalind #5 Dictionary problem so that it uses count( ) to count the words.

####**<font color=crimson>TASK 19.3 Commit to GitHub**</font>

#<font color=blue>**P20.**</font> Installing biopython

In [ ]:
!pip install biopython

Collecting biopython
  Downloading biopython-1.85-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (13 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from biopython) (2.0.2)
Downloading biopython-1.85-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 36.0 MB/s eta 0:00:00
Installing collected packages: biopython
Successfully installed biopython-1.85

In [ ]:
try:
  from Bio.Seq import Seq
  print("Biopython is installed correctly.")
except ImportError:
  print("Biopython is not installed or there was an import error.")

Biopython is installed correctly.

#<font color=blue>**P21.**</font> Seq( ) – a function to define sequence objects

In [ ]:
from Bio.Seq import Seq

my_sequence = Seq("GATGGAACTTGACTACGTAAATT")

####**TASK BP21.2** <font color=orange> **Complete Rosalind #7 Transcribing DNA into RNA**</font>

####**TASK BP21.2** <font color=orange> **Complete Rosalind #8  Translating RNA into Protein**</font>

####**<font color=crimson>TASK 21.3 Commit to GitHub**</font>

#<font color=blue>**P22.**</font> SeqIO – a function to parse( ) sequence files

####**TASK BP 22.1** Read in the practice dataset from Rosalind #9 and print the id of each sequence in the file.

In [ ]:
from Bio.SeqIO import parse

for seq_record in parse("practice_9.txt", "fasta"):
    print (seq_record.id)
    print (seq_record.seq)
    print (len(seq_record.seq))
    print (seq_record)

Rosalind_6404
CCTGCGGAAGATCGGCACTAGAATAGCCAGAACCGTTTCTCTGAGGCTTCCGGCCTTCCCTCCCACTAATAATTCTGAGG
80
ID: Rosalind_6404
Name: Rosalind_6404
Description: Rosalind_6404
Number of features: 0
Seq('CCTGCGGAAGATCGGCACTAGAATAGCCAGAACCGTTTCTCTGAGGCTTCCGGC...AGG')
Rosalind_5959
CCATCGGTAGCGCATCCTTAGTCCAATTAAGTCCCTATCCAGGCGCTCCGCCGAAGGTCTATATCCATTTGTCAGCAGACACGC
84
ID: Rosalind_5959
Name: Rosalind_5959
Description: Rosalind_5959
Number of features: 0
Seq('CCATCGGTAGCGCATCCTTAGTCCAATTAAGTCCCTATCCAGGCGCTCCGCCGA...CGC')
Rosalind_0808
CCACCCTCGTGGTATGGCTAGGCATTCAGGAACCGGAGAACGCTTCAGACCAGCCCGGACTGGGAACCTGCGGGCAGTAGGTGGAAT
87
ID: Rosalind_0808
Name: Rosalind_0808
Description: Rosalind_0808
Number of features: 0
Seq('CCACCCTCGTGGTATGGCTAGGCATTCAGGAACCGGAGAACGCTTCAGACCAGC...AAT')

#<font color=blue>**P23.**</font> SeqUtils.gc_fraction( ) – a function to compute GC content

####**TASK P23.1** Modify the script from TASK P22.1 so that it prints the GC content for each sequence in the file

####**TASK P23.2** <font color=orange> **Complete Rosalind #9  Computing GC Content**</font>

####**<font color=crimson>TASK 23.3 Commit to GitHub**</font>